@model Agendex.Models.User
@using Agendex.Controllers
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout_notLoggedIn.cshtml";
}

<div class="jumbotron" align="center">
    <h1>Company Register Failed</h1>

</div>


<div class="row">

</div>