@model Agendex.Models.User
@using Agendex.Controllers
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout_notLoggedIn.cshtml";
}

<div class="jumbotron" align="center">
    <h1>Agendex</h1>

</div>

@using (@Html.BeginForm("login", "Home", FormMethod.Post))
{

}

<div class="row">

</div>